<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>

  <activePackageSource>

    <add key="Herbalife Dev NuGets" value="http://nuget.hrbl.net:9099/nuget" />

  </activePackageSource>
  <packageSources>
    <add key="nuget.org v2" value="https://www.nuget.org/api/v2/" />
    <add key="Herbalife NuGets" value="http://nuget.hrbl.net:8088/nuget" />
    <add key="Herbalife Dev NuGets" value="http://nuget.hrbl.net:9099/nuget" />
  </packageSources>
</configuration>
