<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oauth2" type="HL.OAuth2.Configuration.OAuth2ConfigurationSection, HL.OAuth2, Version=0.8.*, Culture=neutral" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <oauth2>
    <services>
      <add clientType="MpnsClient"
           enabled="true"
           clientId="mpns_client_id"
           clientSecret="mpns_client_secret"
           scope="mpns"
           redirectUri="host/auth" />
      <add clientType="MpmsClient"
           enabled="true"
           clientId="mpms_client_id"
           clientSecret="mpms_client_secret"
           scope="mpms"
           redirectUri="host/auth" />
    </services>
  </oauth2>
  <appSettings>
    <add key="testMPNS" value="false" />
    <add key="testMPMS" value="false" />
    <add key="MpnsBaseURI" value="http://mpns-client-base-uri" />
    <add key="MpmsBaseURI" value="http://mpms-client-base-uri" />
  </appSettings>
</configuration>